.heart-container {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;

    .heart {
        display: inline-block;
        cursor: pointer;
        height: 16px;
        margin: 0 10px;
        background-color: $light-gray;
        position: relative;
        top: 13px;
        transform: rotate(-45deg);
        width: 16px;

        &.liked {
            background-color: $red;

            &:before, &:after {
                background-color: $red;
            }
        }

        &:before, &:after {
            content: "";
            background-color: $light-gray;
            cursor: pointer;
            border-radius: 50%;
            height: 16px;
            position: absolute;
            width: 16px;
        }

        &:before {
            top: -8px;
            left: 0;
        }

        &:after {
            left: 8px;
            top: 0;
        }
    }

    .modal-content {
        width: auto;
    }

    .add-to-list-container {
        background-color: $white;
        border: 1px solid $light-gray;
        width: 360px;
        border-radius: 5px;
        padding: 15px;
        height: auto;

        .lists-content {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

}
